services:
  psql:
    ports:
      - "5232:5432"
    env_file:
      - .env.dev

  api:
    build:
      target: dev
    env_file:
      - .env.dev
    volumes:
      - .:/app
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload