services:
  restaurant-db:
    restart: always
    env_file:
      - .env.prod

  app:
    build:
      target: prod
    env_file:
      - .env.prod
    restart: always
    ports:
      - "8000:8000"
    command: gunicorn src.main:app --workers 4 --worker-class uvicorn.workers.UvicornWorker --bind 0.0.0.0:8000