services:
  psql:
    ports:
      - "5232:5432"
    env_file:
      - .env.dev

  fastapi:
    build:
      target: dev
    env_file:
      - .env.dev
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    command: python src/main.py